# Node modules
node_modules/

# Build output
_dist/
dist/
output/
public/
blog/

# Eleventy cache
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Netlify deploy folder (if generated locally)
.netlify/

# Environment variables
.env
.env.*

# VSCode settings
.vscode/